/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    width: 80%;
    max-width: 800px;
    margin: 40px 0;
}

.container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    margin-bottom: 10px;
}

.project-box {
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

/* Color styles */
.red {
    background-color: #ff5733; /* Red */
}

.yellow {
    background-color: #ffda33; /* Yellow */
}

.blue {
    background-color: #33a1ff; /* Blue */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode header {
    background-color: #222;
}

.dark-mode nav ul li a {
    color: #fff;
}

.dark-mode .container, .dark-mode .project-box {
    background-color: #222;
}

.dark-mode #darkModeToggle {
    background-color: transparent;
    color: #fff;
}



